<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-4">
    <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="flex flex-col place-content-center items-center md:items-start">
            <h1 class="text-6xl font-light text-black ">Aura Notes</h1>
            <h2 class="mt-4 text-2xl font-light text-black ">Effortlessly farm some Aura with Aura Notes</h2>
            <div class="mt-8">
                <%= link_to "Get Started", new_user_registration_path, class:" text-xl  border border-black rounded-md py-2 px-6 hover:border-b-2 hover:border-r-4 hover:-ml-1 hover:mt-7" %>
            </div>
        </div>

         <%= image_tag "exam-prep.svg", alt: " notes Logo", class:"w-90 mx-auto md:w-full md:py-16" %>

    </div>
</div> 